---
title: Digital Project Agreement Starter 
layout: default
permalink: agreement/final.html
---

{%- assign sections = site.data.starter_questions %}
{%- assign answers = site.data.starter_answers %}

       <h1 class="mb-3">{{page.title}}</h1>
        <p>Participants in the agreement should fill this out together. Click the print button to see your progress. Only those elements and sections you've begun filling out will appear.</p>
        <p class="centered"><a class="btn btn-light border centered mt-2 d-print-none" onclick="window.print();">Print <i class='fas fa-print'></i> / PDF <i class='fas fa-file-pdf'></i> </a>
          <button id="export">export</button>
        </p>
        <div class="accordion" id="accordionSections">
{% for section in sections.all %}

<div class="card ">
        <div class="card-header" id="heading{{forloop.index}}">
          <h2 class="mb-0">
           
              {{section.title}}
            </h2>
          </div>
      
          <div id="collapse{{forloop.index}}" class="" aria-labelledby="heading{{forloop.index}}" data-parent="#accordionSections">
            <div class="card-body">
{%for sub in section.subsections %}
{%for answer in answers %}{% if answer.text and answer.subsection == sub.title%}
<form id="form{{section.title | truncatewords: 1,''}}{{forloop.index}}" class="dataForm">
<h3>{{sub.title}}</h3>
<ul style="font-size:12px;">
    {%for prompt in sub.prompts %}
    <li>{{prompt.text}}</li>
    {%endfor%}
</ul>

    <p class="h5">{{answer.text | replace: " | ", "<br/>"}}</p>
    <hr/>
</form>
{%endif%}{%endfor%}
{%endfor%}
</div>
</div>
</div>
{%endfor%}






